<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hello</h1>
  <!-- Registration form -->
  <form action="/register" method="post">

    <div class="input">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>

    <div class="input">
      <label class="email" for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>

    <div class="input">
      <label class="password" for="password">Password</label>
      <input type="password" name="password" id="password" required minlength="8">
    </div>

    <div>
      <label for="role">Role:</label>
      <select name="role" id="role">
        <option value="student">Student</option>
        <option value="educator">Educator</option>
      </select>
    </div>

    <button type="submit">Register</button>
  </form>

</body>

</html>